.container{
        display:block;
        justify-content:center;
        item-align:center;
        background-color:black;
        margin-top:150px;
        color:white;
        font-weight:bold;
        width:400px;
        padding:40px;
        border-radius:20px;
        margin-bottom:30px;
        }
        h1{
        text-align:center;
        color:teal;
        }
        body{

          background-image: linear-gradient(to right, red 20%,black 50%, grey 80%);
          background-repeat:none;

        }
       .form-group{
       display:flex;
       align-item:center;
       margin-bottom:15px;
       }
       input{
       flex:1;
       padding:8px;
       border:none;
       border-radius;10px;
       }